<p-toolbar class="header-toolbar">
  <div class="p-toolbar-group-left w-full">
    <h2 class="header-title">Extractor de archivos</h2>
  </div>
</p-toolbar>
<div class="container">
  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
      <p-step [value]="1">Selección de canción</p-step>
      <p-step [value]="2">Selección de rol</p-step>
      <p-step [value]="3">Descarga de los archivos</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex align-items-center justify-content-center flex-column gap-2">
            @if(token()) { @if (folders()) { @if (folders()! && folders()!.length > 0) {
            <div class="listbox-container">
              <div class="listbox-caption">
                <i class="pi pi-info-circle"></i>
                <span>Por favor, selecciona una canción</span>
              </div>
              <div class="flex gap-3">
                <div class="flex flex-column gap-2 w-6">
                  <div class="file-caption">
                    <i class="pi pi-folder"></i>
                    <span>Carpetas</span>
                  </div>
                  <p-listbox
                    [options]="folders()!"
                    [(ngModel)]="selectedFolder"
                    (ngModelChange)="listSongs()"
                    header="Selecciona un rol"
                    [filter]="true"
                    optionLabel="name"
                    class="w-full md:w-56"
                  />
                </div>
                <div class="flex align-items-center">
                  <i class="pi pi-arrow-circle-right" style="font-size: 25px"></i>
                </div>
                <div class="flex flex-column gap-2 w-6">
                  <div class="file-caption">
                    <i class="pi pi-headphones"></i>
                    <span>Canción</span>
                  </div>
                  <p-listbox
                    [options]="songs()!"
                    [(ngModel)]="selectedSong"
                    header="Selecciona un rol"
                    [filter]="true"
                    optionLabel="name"
                    class="w-full md:w-56"
                  />
                </div>
              </div>
            </div>

            } } } @else {
            <p-button
              label="Iniciar sesión en Google Drive"
              icon="pi pi-user"
              iconPos="right"
              (onClick)="login()"
            />
            }
          </div>
          <div class="flex pt-6 justify-start">
            <p-button
              label="Siguiente"
              icon="pi pi-arrow-right"
              iconPos="right"
              [disabled]="!selectedSong"
              (onClick)="activateCallback(2)"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex align-items-center justify-content-center flex-col h-48">
            <div>
              <p-multiselect
                [options]="roles()"
                [(ngModel)]="selectedRoles"
                placeholder="Seleccionar rol"
                class="w-full md:w-80"
                appendTo="body"
              />
            </div>
          </div>
          <div class="flex pt-6 justify-end gap-3">
            <p-button
              label="Anterior"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)"
            />
            <p-button
              label="Siguiente"
              icon="pi pi-arrow-right"
              iconPos="right"
              [disabled]="!(selectedRoles && selectedRoles.length > 0)"
              (onClick)="listFolderFiles(); activateCallback(3)"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-column align-items-center justify-content-center gap-2">
            <p-listbox
              [options]="files()!"
              [multiple]="true"
              [checkbox]="true"
              [(ngModel)]="selectedFiles"
              header="Selecciona un rol"
              [filter]="true"
              optionLabel="name"
              class="w-full md:w-56"
            />
            <p-button
              label="Descargar archivos"
              icon="pi pi-cloud-download"
              iconPos="right"
              (onClick)="downloadFiles()"
            />
          </div>
          <div class="flex pt-6 justify-between gap-3">
            <p-button
              label="Anterior"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(2)"
            />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
<p-toolbar class="footer-toolbar">
  <div class="p-toolbar-group-left">
    <span>©2025 Copyright</span>
  </div>
  <div class="p-toolbar-group-right">
    <span>Aplicación para Folklore</span>
  </div>
</p-toolbar>
